@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: transparent;
  --background-start-rgb: transparent;
  --background-end-rgb: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: transparent;
  }
}

body {
  color: rgb(var(--accent-9));
  background: blur;
}

/* create custom tailwind classes */
@layer utilities {
  .nav-links {
    @apply hover:text-[var(--accent-8)] transition-colors
  }
}